/* ここから下に記載していく */
/* html{scroll-behavior: smooth;} */
#body{
    margin: 10;
    max-width: 1200px;
    margin: 0 auto;
}
#fullWrap{
  background:url("../img/sinslow_bg_ptn.png");
  background-color: #fff;
  background-repeat: repeat;
  position: relative;
  /* overflow: hidden; */
  animation: wrapbg 30s infinite linear;
  }
@keyframes wrapbg {
  0% {  background-position-x: 0;  }
  100% {  background-position-x: 960px;
  background-position-y: -1660px; }
}




header{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 1370px;
    top: 0px;
    display: flex;
    position: fixed;
    background-color: #fff;
    background-position: center;
    z-index: 9999;
}
.heder img{
  box-sizing: border-box;
}
.heder-menu{
    display: flex;
    padding-left: 120px;
    font-size: 25px;
    padding-top: 18px;

}
ul.heder-menu li{
  display: inline;
  padding-right: 50px;
}
a {
  text-decoration: none;
}

.mainvisual{
    width: 100%;
    height: 500px;
    background-image: url("../img/mainbg.png");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 120px 0 auto;
}
.box1{
    line-height: 60px;
}
.mainvisual h1{
    font-size: 35px;
}
.mainvisual P{
    font-size: 25px;
}

#about{
  padding-top: 110px;
}

.about1{
    font-size: 24px;
    color: #ffd61a;
}
.about2{
    font-size: 18px;
}
.about3{
    font-size: 16px;
    line-height: 32px;
}
.slider{
  margin: 80px 0 auto;
}
/* .box2{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 80px 0 auto;
}
.bp1{
    width: 250px;
    height: 250px;
    object-fit: cover;
}
.bp2{
    width: 350px;
    height: 250px;
    object-fit: cover;
 } */

 /* COURSE */
#course{
  padding-top: 110px;
}

.course1{
    font-size: 24px;
    color: #ffd61a;
 }
.course2{
    font-size: 16px;
    margin: 30px 0 auto;
    line-height: 32px;
}
.course_box1{
    display: flex;
    justify-content: flex-start;
    margin: 60px 0 auto;
    background-color: #fafafa;
    border-radius: 10px;
}
.course_box1 img{
    width: 600px;
    object-fit: cover;
    border-radius: 10px;
}
.course_inbox1{
    margin: 120px 50px;
    
}
.course_inbox1 h1{
    font-size: 24px;
}
.course_inbox1 p{
    font-size: 16px;
    margin: 40px 0 auto ;
    line-height: 32px;
}
.course_box2{
    display: flex;
    justify-content: flex-end;
    margin: 60px 0 auto;
    background-color: #fafafa;
    border-radius: 10px;
}
.course_box2 img{
    width: 600px;
    object-fit: cover;
    border-radius: 10px;
}
.course_inbox2{
    margin: 120px 50px;
    
}
.course_inbox2 h1{
    font-size: 24px;
}
.course_inbox2 p{
    font-size: 16px;
    margin: 40px 0 auto ;
    line-height: 32px;
}
.course_box3{
    display: flex;
    justify-content: flex-start;
    background-color: #fafafa;
}
.course_box3 img{
    width: 600px;
    object-fit: cover;
    
}
.course_inbox3{
    margin: 120px 50px;
    
}
.course_inbox3 h1{
    font-size: 24px;
}
.course_inbox3 p{
    font-size: 16px;
    margin: 40px 0 auto ;
    line-height: 32px;
}
/* picture */
/* 画像を横に回転して切り替える */
#picture{
  display: flex;
  padding-left: 222px;
  padding-top: 30px;
}
#cow{
  width: 250px;
  height: 250px;
}
.change{
  width: 250px;
  height: 250px;
  margin: 0 auto;
  position: relative;
  cursor: pointer;
  transform-style: preserve-3d;
  transition: 1s;
}
.change img{
  position: absolute;
  width: 100%;
  backface-visibility: hidden;
  top: 0;
  left: 0;
}
.change:hover{
  transform: rotateY( 180deg );
}
.change img:last-child{
  transform: rotateY( 180deg );
}

/* NEWS */
#news{
  padding-top: 30px;
}
.news1{
    font-size: 24px;
    color: #ffd61a;
 }
.news2{
    font-size: 16px;
    margin: 30px 0 auto;
}
.news_box{
  display: flex;
  justify-content: center;
  margin: 60px 0 auto;
}
.news_box1{
  width: 300px;
  margin: 0 15px auto;
}
.news_inbox1{
width: 300px;
font-size: 14px;
margin: 30px 0 auto ;
line-height: 24px;
}
.news_inbox1 p{
    margin: 24px 0 auto;
}

/* .news_more{
    width: 300px;
    height: 60px;
    background: #ffd61a;
    border-radius: 6px;
    background-position: center;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    padding-top: 23px;
    box-sizing: border-box;
    margin: 60px auto;
} */

.More-Btn {
  border-radius: 6px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 300px;
  display: block;
  letter-spacing: 0.05em;
  background: #ffd61a;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
}
@media screen and (max-width: 480px) {
  .More-Btn {
    margin-top: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 160px;
    font-size: 16px;
  }
}


/* ACCESS */
#access{
    padding-top: 110px;
}
.access1{
    font-size: 24px;
 }
.access2{
    font-size: 16px;
    margin: 30px 0 auto;
}
.map{
    width: 100%;
    margin: 60px 0 auto;
}
.access_box{
    width: 600px;
    height: 200px;
    font-size: 16px;
    margin: 60px 360px 60px;
}
.bg{
  width: 1200px;
  height: 900px;
  background-color: #fafafa;
  border-radius: 20px;

}
/* contact */
#contact{
  padding-top: 110px;
}
.contact1{
  font-size: 24px;
  color: #ffd61a;
}
.contact2{
  font-size: 16px;
  line-height: 32px;
}
.Form {
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    max-width: 750px;
    background-color: #fafafa;
    border-radius: 10px;
    border : 2px solid #dddd;
  }
  @media screen and (max-width: 480px) {
    .Form {
      margin-top: 40px;
    }
  }
  .Form-Item {
    border-top: 1px solid #ddd;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 10px;
    width: 98%;
    display: flex;
    align-items: center;
  }
  @media screen and (max-width: 480px) {
    .Form-Item {
      padding-left: 14px;
      padding-right: 14px;
      padding-top: 16px;
      padding-bottom: 16px;
      flex-wrap: wrap;
    }
  }
  .Form-Item:nth-child(5) {
    border-bottom: 1px solid #ddd;
  }
  .Form-Item-Label {
    width: 100%;
    max-width: 248px;
    letter-spacing: 0.05em;
    font-weight: bold;
    font-size: 16px;
  }
  @media screen and (max-width: 480px) {
    .Form-Item-Label {
      max-width: inherit;
      display: flex;
      align-items: center;
      font-size: 15px;
    }
  }
  .Form-Item-Label.isMsg {
    margin-top: 8px;
    margin-bottom: auto;
  }
  @media screen and (max-width: 480px) {
    .Form-Item-Label.isMsg {
      margin-top: 0;
    }
  }
  .Form-Item-Label-Required {
    border-radius: 6px;
    margin-right: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 48px;
    display: inline-block;
    text-align: center;
    background: #ffd61a;
    color: #fff;
    font-size: 14px;
  }
  @media screen and (max-width: 480px) {
    .Form-Item-Label-Required {
      border-radius: 4px;
      padding-top: 4px;
      padding-bottom: 4px;
      width: 32px;
      font-size: 10px;
    }
  }
  .Form-Item-Input {
    border: 1px solid #ddd;
    border-radius: 6px;
    margin-left: 40px;
    padding-left: 1em;
    padding-right: 1em;
    height: 48px;
    flex: 1;
    width: 100%;
    /* max-width: 410px; */
    background: #eaedf2;
    font-size: 18px;
  }
  @media screen and (max-width: 480px) {
    .Form-Item-Input {
      margin-left: 0;
      margin-top: 18px;
      height: 40px;
      flex: inherit;
      font-size: 15px;
    }
  }
  .Form-Item-Textarea {
    border: 1px solid #ddd;
    border-radius: 6px;
    margin-left: 40px;
    padding-left: 1em;
    padding-right: 1em;
    height: 150px;
    flex: 1;
    width: 100%;
    max-width: 410px;
    background: #eaedf2;
    font-size: 18px;
  }
  @media screen and (max-width: 480px) {
    .Form-Item-Textarea {
      margin-top: 18px;
      margin-left: 0;
      height: 200px;
      flex: inherit;
      font-size: 15px;
    }
  }
  .Form-Btn {
    border-radius: 6px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 300px;
    display: block;
    letter-spacing: 0.05em;
    background: #ffd61a;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
  }
  @media screen and (max-width: 480px) {
    .Form-Btn {
      margin-top: 24px;
      padding-top: 8px;
      padding-bottom: 8px;
      width: 160px;
      font-size: 16px;
    }
  }

  .check{
      display: grid;
      margin-left: 50px;
      line-height: 50px;
  }

footer{
  width: 100%;
  height: 76px;
  background-color: #707070;
  color: #fff;
  font-size: 16px;
  text-align: center;
  margin: 140px 0 auto;
  padding-top: 20px;
  line-height: 28px;
}
ul.footer-menu li {
display: inline;
padding-right: 10px;
}

/*トップへ戻るボタン*/
#page-top {
  display: block;
  font-weight: bold;
  text-align: center;
  background: #707070;
  color: #fff;
  transition: .3s;
}
/*マウスオーバー時*/
#page-top:hover {
  background: #707070;
  color: #fff;
}